@import '_vars';
@import 'modules/navbar';
@import 'modules/footer';


main {
    width: 100%;
    overflow: hidden;
    background-color: $bg-color;  
}
body{
    font-family: "Kollektif";
    src: url("../css/Kollektif.ttf");
    line-height: 1.15em;
    font-family: 'Kollektif';
    src: url('Kollektif-Bold.ttf')format('ttf');
    font-family: 'Kollektif';
    src: url('Kollektif-italic.ttf')format('ttf');

}

#product-logo {
    margin-top: 80px;
    width: 90%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

    @media screen and (min-width: 640px){
        margin:140px auto 0;
        width: 40%;
        }

    img {
        width:90%;
    }

}

#video-container {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: row;

    video {
        width: 100%;
    }
}

#buy-it {
    display: flex;
    padding: 20px;
    margin-top: 20px;
    width: 90%;
    justify-content: space-around;

    a {text-decoration: none; color: black;}

    @media screen and (min-width: 640px){
        font-size: 1.4em;
        }
}

#discription, #specs {
    width:85%;
    margin:auto;
    @media only screen and (min-width: 640px){
        font-size: 1.4em;
        line-height: 1.20em;
    }
}

h4 {padding-bottom: 10px; padding-top: 10px; color: $main-color;}

.image-container {
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    overflow: scroll;
    width: 95%;
    margin: auto;
    justify-content: flex-start; 

    @media screen and (min-width: 640px){
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;
        }

    img {
        width:80%;
        padding: 5px;

        @media screen and (min-width: 640px){
        width: 30%;
        }
    }

}



.hidden { display: $hide; }
