<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <title>HouseCom Store</title>
</head>

	<body>
		<header>

			<div id="logo">
                <img src="images/houseCom_logo.svg" alt="houseCom Logo">
            </div>

			<nav>
				<ul>
					<li><a ref="#">Products</a></li>
					<li><a ref="#">Services</a></li>
					<li><a ref="#">Contact</a></li>
				</ul>
			</nav>
			
		</header>
        <main>

            <div id="product-logo">
                <img src="images/thermoSecurity_logo.svg" alt="thermoSercurity logo">
            </div>

            <div id="video-container">
                <video loop controls > 
                <source src="video/thermoSecurityRender.mp4" type="video/mp4"></video>
            </div>

			<div id="buy-it">
                <div id="price">Price</div>
                <div id="cart">Add to cart</div>
            </div>

			<div id="discription">
				<h4>Discription</h4>
                <p>HouseCom™ ThermoSecurity™ System is a fully digital, hardwired and wireless (WiFi, Bluetooth)
					enabled home personal and secure environment control system. All communications with the central
					system are accessible and controlled through the wall unit, product app. and the secured portal on the parent
					website. The HouseCom™ ThermoSecurity™ System App. is available on both iOS and Android devices.
					Whether you wish to adjust the temperature of your home from your Android or iPhone watch or access
					the home security system on your phone to check in on the house occupancy through the remote, portable
					cameras. You may wish to look for independent room temperatures, smoke and carbon monoxide status or
					just open windows and unlocked doors for your return home.
					All of this functionality and more are part of the capabilities of the HouseCom™ ThermoSecurity™ security
					and environment system.
				</p>
            </div>

            <div class="image-container">
				<img src="/images/Smart Thermostat 1.jpg" alt="">
				<img src="/images/Smart Thermostat 2.jpg" alt="">
				<img src="/images/Smart Thermostat 3.jpg" alt="">
				<img src="/images/Smart Thermostat 4.jpg" alt="">
				<img src="/images/Smart Thermostat 6.jpg" alt="">
				<img src="/images/Smart Thermostat 7.jpg" alt="">
			</div>

            <div id="specs">
				<h4>Technical</h4>
				<p>Here are a few features of HouseCom™ ThermoSecurity™ System.</br>
					Proximity sensor: Actives system to on state when viewer is close.</br>
					Facial recognition camera: To allow admin users to manipulate settings (child proofing)</br>
					GUI: The ability increase/decrease the temperature difference between my heat/cool set-points.</br>
					Comes with built-in Amazon Alexa Voice Service Regulates indoor humidity to prevent frost buildup on
					outside windows. The ability to view Current indoor temperature, outdoor temperature, daily forecast, weekly
					forecast.
				</p>
			</div>

            {{!-- <hr>
                <!-- handlebars will render its views here -->
                {{{ body }}}
            <hr> --}}

        </main>
        
        <footer>

			<div id="foot-logo">
                <img src="images/thermoSecurity_icon.svg" alt="thermo Security Logo">
            </div>

			<ul>
				<li><a ref="#">Products</a></li>
				<li><a ref="#">Services</a></li>
				<li><a ref="#">Contact</a></li>
			</ul>

        </footer>
		<p id="copy">copywrite 2019</p>
	</body>

</html>